@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
    outline-color: var(--color-gray-200);
  }
}
